[submodule "colors"]
	path = colors
	url = git@github.com:rafalglowacz/jetbrains-config-color-scheme.git
	branch = main
	update = merge
[submodule "codestyles"]
	path = codestyles
	url = git@github.com:rafalglowacz/jetbrains-config-code-styles.git
	branch = main
	update = merge
